<!--
  Change Password Page (Public User)
  --
 Change User Password by providing their current password and new password
  --
  Author: Teh Kah Jun
  Created On: 19 April 2018
  Last Modified: 28 June 2018
-->

<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Tickets</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-row>

    <ion-col col-sm-3 col-md-3></ion-col>

    <ion-col col-12 col-sm-6 col-md-6>


      <ion-item no-lines text-center *ngIf="ticketListProvider.list.length == 0">No Ticket Record</ion-item>

      <ion-card *ngFor="let ticket of ticketListProvider.list, let i=index">
        <ion-card-content>
          <ion-card-title>{{ticket.title}}</ion-card-title>
          <p>
            <strong>Ticket ID: {{ticket.id}}</strong>
          </p>
          <p>
            Category: {{ticket.facilityType.name}}
          </p>
          <p>
            Status: {{ticket.status.name}}
          </p>
        </ion-card-content>
        <ion-row no-padding>
          <ion-item>
            <button ion-button clear small float-right (click)="presentMessageModal(i)">
              Message
            </button>
            <button ion-button clear small float-right (click)="presentDescriptionModal(i)">
              Description
            </button>
          </ion-item>
        </ion-row>
      </ion-card>
    </ion-col>

    <ion-col col-sm-3 col-md-3></ion-col>

  </ion-row>

</ion-content>
