<!--
  Change Password Page (Public User)
  --
 Change User Password by providing their current password and new password
  --
  Author: Teh Kah Jun
  Created On: 19 April 2018
  Last Modified: 28 June 2018
-->

<ion-header>

  <ion-navbar>
    <ion-title>Register New Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-row>
    <ion-col col-1 col-sm-3 col-md-3=""></ion-col>

    <ion-col col-10 col-sm-6 col-md-6="">
      <form [formGroup]="regGroup" (ngSubmit)="onSubmitRegForm()">

        <!--Email Input-->
        <ion-item>
          <ion-label color="primary" stacked>
            <ion-icon name="mail"></ion-icon> E-Mail Address
          </ion-label>
          <ion-input id="emailID" formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-label *ngIf="regGroup.controls['email'].hasError('pattern')" class="error-label">Invalid Format!</ion-label>
        <ion-label *ngIf="regGroup.controls['email'].hasError('exist')" class="error-label">Email existed!</ion-label>
        <ion-label *ngIf="(!regGroup.controls['email'].hasError('pattern')&&
        !regGroup.controls['email'].hasError('exist') &&
        !regGroup.controls['email'].hasError('required'))&&
         regGroup.controls['email'].dirty && regGroup.controls['email'].touched" class="success-label">Email Verified!</ion-label>

        <div formGroupName="passwords">
          <!--Password Input-->
          <ion-item>
            <ion-label color="primary" stacked>
              <ion-icon name="key"></ion-icon>
              Password
            </ion-label>
            <ion-input formControlName="password" type="password" placeholder="Minimum 6 characters" min="6"></ion-input>
          </ion-item>
          <ion-label *ngIf="regGroup.controls['passwords'].controls.password.hasError('minlength')" class="error-label">Password must be at least 6 characters!</ion-label>

          <!--Confirm Password Input-->
          <ion-item>
            <ion-label color="primary" stacked>
              <ion-icon name="key"></ion-icon>
              Confirm Password
            </ion-label>
            <ion-input formControlName="password_confirmation" type="password" min="6"></ion-input>
          </ion-item>
          <ion-label *ngIf="regGroup.hasError('mismatch', 'passwords')" class="error-label">Please confirm your password!</ion-label>
        </div>
        <!--First Name Last Name Inputs-->
        <ion-row>
          <ion-col col-6="">
            <ion-item>
              <ion-label color="primary" stacked>
                <ion-icon name="person"></ion-icon>
                First Name
              </ion-label>
              <ion-input formControlName="firstName" type="text"></ion-input>
            </ion-item>
            <ion-label *ngIf="regGroup.hasError('invalid', 'firstName')" class="error-label">Alphabet Letter Only!</ion-label>
          </ion-col>

          <ion-col col-6="">
            <ion-item>
              <ion-label color="primary" stacked>
                <ion-icon name="person"></ion-icon>
                Last Name
              </ion-label>
              <ion-input formControlName="lastName" type="text"></ion-input>
            </ion-item>
            <ion-label *ngIf="regGroup.hasError('invalid', 'lastName')" class="error-label">Alphabet Letter Only!</ion-label>
          </ion-col>
        </ion-row>

        <!--Date of Birth Input-->
        <ion-item>
          <ion-label color="primary" stacked>
            <ion-icon name="calendar"></ion-icon>
            Date of Birth
          </ion-label>
          <ion-datetime formControlName="dob" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"
                        placeholder="Day/Month/Year"></ion-datetime>
        </ion-item>

        <!--Mobile Number-->
        <ion-item>
          <ion-label color="primary" stacked>
            <ion-icon name="call"></ion-icon>
            Mobile No.
          </ion-label>
          <ion-input formControlName="contact" type="tel" placeholder="0121234567"></ion-input>
        </ion-item>
        <ion-label *ngIf="regGroup.hasError('invalid', 'contact')" class="error-label">Invalid Format</ion-label>

        <ion-item-divider no-lines></ion-item-divider>
        <!--Submit Button-->
        <ion-row>
          <ion-col text-center>
            <button ion-button float-right type="submit" [disabled]="!regGroup.valid">Submit</button>
          </ion-col>
        </ion-row>

      </form>
    </ion-col>

    <ion-col col-1 col-sm-3 col-md-3=""></ion-col>
  </ion-row>




</ion-content>
