page-register {


    .error-label{
      color: red;
      margin-left: 16px;
      text-align: right;
    }

  .success-label{
    color: limegreen;
    margin-left: 16px;
    text-align: right;
  }
}
