page-home {
  ion-content {
    background-image: url('../assets/imgs/home-background.png');
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

}
