<!--
 Home Page (Public User)
  --
 Allow user to quickly navigate to different page
  --
  Author: Teh Kah Jun
  Created On: 19 April 2018
  Last Modified: 28 June 2018
-->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-sm-3 col-md-3></ion-col>

    <ion-col col-12 col-sm-6 col-md-6>
      <ion-card>

        <ion-card-content>
          <ion-card-title>Spot any damaged public facilities?</ion-card-title>
          <h2>
            <strong>Just 4 simple steps to request for a maintenance task from the respective local authority.</strong>
          </h2>

        </ion-card-content>
        <button ion-button clear small float-right (click)="pushToSubmitTicketPage()">
          Submit a ticket
        </button>
      </ion-card>

      <ion-card>

        <ion-card-content>
          <ion-card-title>Great Responsible comes with great power</ion-card-title>
          <h2>
            <strong>Together, we can monitor other maintenance projects that currently carried out by different local authority.</strong>
          </h2>
        </ion-card-content>
        <button ion-button clear small float-right (click)="openOtherProjectPage()">
          Check it out now
        </button>

      </ion-card>

      <ion-card>

        <ion-card-content>
          <ion-card-title>Manage Account Info</ion-card-title>
          <h2>
            <strong>Your personal info, our priority!</strong>
          </h2>

        </ion-card-content>
        <button ion-button clear small float-right (click)="openProfilePage()">
          Update Account Info
        </button>
      </ion-card>

    </ion-col>

    <ion-col col-sm-3 col-md-3></ion-col>
  </ion-row>
</ion-content>
