<!--
  Message Page (Public User)
  --
 List out message that replied by local authority staff
  --
  Author: Teh Kah Jun
  Created On: 19 April 2018
  Last Modified: 22 June 2018
-->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Messages
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">

        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing...">

    </ion-refresher-content>
  </ion-refresher>

  <ion-item no-lines text-center *ngIf="mesProvider.list.length == 0">No Message</ion-item>

  <ion-card *ngFor="let mes of mesProvider.list">
    <ion-card-content>
      <ion-card-title>{{mes.title}}</ion-card-title>
      <p>
        {{mes.message}}
      </p>
      <ion-note>{{mes.dateCreated}}.</ion-note>
    </ion-card-content>

  </ion-card>
</ion-content>
