<!--
  My Profile Page (Public User)
  --
 Show user account info
  --
  Author: Teh Kah Jun
  Created On: 19 April 2018
  Last Modified: 20 June 2018
-->

<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row>
    <ion-col col-1 col-sm-3 col-md-3=""></ion-col>

    <ion-col col-10 col-sm-6 col-md-6="">

  <ion-row>
    <ion-col text-center="">

      <img src="{{myUserInfo.myUser.profilePicPath}}" onerror="this.src = 'assets/imgs/no-avatar.png'">

    </ion-col>
  </ion-row>

  <ion-item>
    E-mail
    <ion-row>
      <ion-note>{{myUserInfo.myUser.email}}</ion-note>
    </ion-row>
  </ion-item>

  <ion-item>
    Name
    <ion-row>
      <ion-note>{{myUserInfo.myUser.firstName}} {{myUserInfo.myUser.lastName}}</ion-note>
    </ion-row>
  </ion-item>

  <ion-item>
    Date of birth:
    <ion-row>
      <ion-note>{{myUserInfo.myUser.dob}}</ion-note>
    </ion-row>
  </ion-item>

  <ion-item>
    Contact No.
    <ion-row>
      <ion-note>{{myUserInfo.myUser.contactNo}}</ion-note>
    </ion-row>
  </ion-item>

  <ion-row>
    <button ion-item (click)="onClickChangeProfilePic()">
      <ion-label color="primary">Change Profile Picture</ion-label>
    </button>
  </ion-row>

  <ion-row>
    <button ion-item (click)="pushChangePasswordPage()">
      <ion-label color="primary">Change Password</ion-label>
    </button>
  </ion-row>

  <input type="file" accept="image/*" id="profilePic" hidden (change)="submitPic('profilePic')">

    </ion-col>

    <ion-col col-1 col-sm-3 col-md-3=""></ion-col>
  </ion-row>
</ion-content>
