page-project-feedback {

  #overallRate{
    strong{
      font-size:40px;
    }
    ion-note{
      ion-icon{
        padding-right:5px;
      }
    }
    ul {
      padding: 0px;
      margin-top: 15px;
      margin-bottom: 15px;
      &.rating li {
        padding: 0px 10px 0px 10px !important;
        background: none;
        color: #005ecb;

        ion-icon {
          font-size: 35px;
        }
      }
    }
    padding-bottom: 15px;
  }

  ul {
    margin: 0px;
    padding: 0px;
    &.rating li {
      padding: 0px 0px 0px 0px !important;
      background: none;
      color: #005ecb;

      ion-icon {
        font-size: 25px;
      }
    }
  }

}
