<!--
  Change Password Page (Public User)
  --
 Change User Password by providing their current password and new password
  --
  Author: Teh Kah Jun
  Created On: 19 April 2018
  Last Modified: 28 June 2018
-->


<ion-header>

  <ion-navbar>
    <ion-title>Project Feedback</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing...">

    </ion-refresher-content>
  </ion-refresher>
  <ion-row>

    <ion-col col-sm-3 col-md-3></ion-col>

    <ion-col col-12 col-sm-6 col-md-6>

      <ion-list>

        <div *ngIf="feedbackProvider.totalFeedback == 0" text-center="">
          <h4>Feedback is important to us!</h4>
          <h5>Drop yours now!</h5>
        </div>

        <div id="overallRate" text-center="" *ngIf="feedbackProvider.totalFeedback != 0">
          <strong ion-text color="primary">{{feedbackProvider.avgRating}}</strong>
          <rating [(ngModel)]="feedbackProvider.avgRating" readOnly="true"></rating>
          <ion-note>
            <ion-icon name="person"></ion-icon>
            {{feedbackProvider.totalFeedback}}
          </ion-note>
        </div>

        <ion-list-header>
          My Review
        </ion-list-header>

        <div text-center="" padding-bottom="5px" *ngIf="feedbackProvider.myFeedback.id == null">
          <button ion-button primary (click)="displayFeedbackModal(false)">Rate this project</button>
        </div>

        <ion-card *ngIf="feedbackProvider.myFeedback.id != null">
          <ion-item>
            <ion-avatar item-start>
              <img src="{{feedbackProvider.myFeedback.publicUser.profilePicPath}}" onerror="this.src = 'assets/imgs/no-avatar.png'">
            </ion-avatar>
            <h2>{{feedbackProvider.myFeedback.publicUser.firstName}}</h2>
            <rating [(ngModel)]="feedbackProvider.myFeedback.rating" readOnly="true"></rating>
            <ion-note>{{feedbackProvider.myFeedback.dateUpdated}}</ion-note>
          </ion-item>

          <ion-card-content>
            <h2><strong>{{feedbackProvider.myFeedback.title}}</strong></h2>
            <p>{{feedbackProvider.myFeedback.message}}</p>
          </ion-card-content>

          <ion-row>
            <ion-col>
              <button ion-button icon-left clear float-right (click)="displayFeedbackModal(true)">
                <ion-icon name="create"></ion-icon>
                <div>Edit</div>
              </button>
            </ion-col>
          </ion-row>

        </ion-card>

        <ion-list-header>
          Other Reviews
        </ion-list-header>

        <ion-card *ngFor="let item of feedbackProvider.feedbackList">
          <ion-item>
            <ion-avatar item-start>
              <img src="{{item.publicUser.profilePicPath}}" onerror="this.src = 'assets/imgs/no-avatar.png'">
            </ion-avatar>
            <h2>{{item.publicUser.firstName}}</h2>
            <rating [(ngModel)]="item.rating" readOnly="true"></rating>
            <ion-note>{{item.dateUpdated}}</ion-note>
          </ion-item>

          <ion-card-content>
            <h2><strong>{{item.title}}</strong></h2>
            <p>{{item.message}}</p>
          </ion-card-content>

        </ion-card>

      </ion-list>
    </ion-col>

    <ion-col col-sm-3 col-md-3></ion-col>
  </ion-row>


</ion-content>


