<!--
  Other Project Select LA Page (Public User)
  --
 Select LA to filter the project list based on the selected LA
  --
  Author: Teh Kah Jun
  Created On: 19 April 2018
  Last Modified: 15 June 2018
-->

<ion-header>

  <ion-navbar>
    <ion-title>Select a Local Authority</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-row>

    <ion-col col-sm-3 col-md-3></ion-col>

    <ion-col col-12 col-sm-6 col-md-6>
      <ion-item no-lines text-center *ngIf="laProvider.list.length == 0">No Local Authority</ion-item>

      <ion-list inset>

        <button ion-item *ngFor="let item of laProvider.list, let i = index" (click)="pushToOtherProjectPage(i)">
          {{item.acronym}} - {{item.fullName}}
        </button>

      </ion-list>
    </ion-col>
    <ion-col col-sm-3 col-md-3></ion-col>
  </ion-row>


</ion-content>
