<!--
  Change Password Page (Public User)
  --
 Change User Password by providing their current password and new password
  --
  Author: Teh Kah Jun
  Created On: 19 April 2018
  Last Modified: 28 June 2018
-->

<ion-header>

  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row>
    <ion-col col-1 col-sm-3 col-md-4=""></ion-col>

    <ion-col col-10 col-sm-6 col-md-4="">
      <form [formGroup]="changePassFrmGroup" (ngSubmit)="onSubmitChangePasswordForm()">
        <!--Confirm Password-->
        <ion-item>
          <ion-label color="primary" stacked>
            <ion-icon name="key"></ion-icon>
            Current Password
          </ion-label>
          <ion-input formControlName="currentPassword" type="password"></ion-input>
        </ion-item>

        <!--Password Input-->
        <ion-item>
          <ion-label color="primary" stacked>
            <ion-icon name="key"></ion-icon>
            New Password
          </ion-label>
          <ion-input formControlName="newPassword" type="password" min="6"></ion-input>
        </ion-item>
        <ion-label *ngIf="changePassFrmGroup.controls['newPassword'].hasError('minlength')" class="error-label">At least 6 characters!
        </ion-label>


        <!--Confirm Password Input-->
        <ion-item>
          <ion-label color="primary" stacked>
            <ion-icon name="key"></ion-icon>
            Confirm New Password
          </ion-label>
          <ion-input formControlName="confirmNewPassword" type="password" min="6"></ion-input>
        </ion-item>
        <ion-label *ngIf="changePassFrmGroup.hasError('mismatch')" class="error-label">Please confirm your new password!
        </ion-label>
        <br>
        <ion-row>
          <ion-note>*You will be automatically logged out upon successfully changed your password.</ion-note>
        </ion-row>
        <br>
        <!--Submit Button-->
        <ion-row>
          <ion-col>
            <button ion-button type="submit" float-right [disabled]="!changePassFrmGroup.valid">Save</button>
          </ion-col>
        </ion-row>
      </form>

    </ion-col>

    <ion-col col-1 col-sm-3 col-md-4=""></ion-col>
  </ion-row>
</ion-content>
