<!--
 A generic template for the application (Public User)
  --
 Consists of the navigation bar that help user to navigate to different pages
  --
  Author: Teh Kah Jun
  Created On: 10 May 2018
  Last Modified: 28 June 2018
-->

<ion-menu [content]="content" [swipeEnabled]="false">
  <ion-header>
    <ion-toolbar>
      <ion-title>EVERYTHING</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-item>
        <ion-avatar item-start>
          <img src="{{pbUser.myUser.profilePicPath}}" onerror="this.src = 'assets/imgs/no-avatar.png'">
        </ion-avatar>
        <h2>{{pbUser.myUser.firstName}}</h2>
        <p>{{pbUser.myUser.email}}</p>
      </ion-item>

    <ion-item-group>
      <button menuClose ion-item no-lines (click)="openHomePage()">
        <ion-icon name="home" item-start=""></ion-icon>Home</button>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="primary">
        <strong>Complaint Ticket</strong>
      </ion-item-divider>

      <button menuClose ion-item (click)="openSubmitTicketPage()" ><ion-icon name="send" item-start=""></ion-icon>Submit a Ticket</button>
      <button menuClose ion-item (click)="openViewTicketPage()"><ion-icon name="eye" item-start=""></ion-icon>My Tickets</button>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="primary">
        <strong>Maintenance Project</strong>
        </ion-item-divider>

      <button menuClose ion-item (click)="openSubscribedProjectPage()">
        <ion-icon name="bookmark" item-start></ion-icon>Subscribed Projects
      </button>
      <button menuClose ion-item (click)="openOtherProjectPage()"><ion-icon name="hammer" item-start></ion-icon>Other Projects</button>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="primary">
        <strong>Account</strong>
      </ion-item-divider>

      <button menuClose ion-item (click)="openProfilePage()"><ion-icon name="person" item-start=""></ion-icon>My Profile</button>
      <button menuClose ion-item (click)="onLogout()"><ion-icon name="exit" item-start=""></ion-icon>Logout</button>
    </ion-item-group>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content [swipeBackEnabled]="false"></ion-nav>
