<!--
 Other Project Page (Public User)
  --
 List out maintenance project for user to subscribe
  --
  Author: Teh Kah Jun
  Created On: 19 April 2018
  Last Modified: 20 June 2018
-->

<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Other Project - {{laAcronym}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing...">

    </ion-refresher-content>
  </ion-refresher>

  <ion-row>

    <ion-col col-sm-3 col-md-3></ion-col>

    <ion-col col-12 col-sm-6 col-md-6>
      <ion-item no-lines text-center *ngIf="otherProjectProvider.list.length == 0">No project</ion-item>

      <ion-card *ngFor="let item of otherProjectProvider.list, let i = index">
        <ion-card-content>
          <ion-card-title>{{item.title}}</ion-card-title>
          <p>
            <strong>Project ID: {{item.id}}</strong>
          </p>
          <p>
            {{item.description}}
          </p>
        </ion-card-content>
        <ion-row no-padding>
          <ion-item>

            <button ion-button clear small float-left (click)="pushToProjectDetails(i)">
              Details
            </button>

            <button ion-button clear small float-right (click)="promptConfirmSubscribeBox(i)">
              Subscribe
            </button>
          </ion-item>

        </ion-row>
      </ion-card>
    </ion-col>

    <ion-col col-sm-3 col-md-3></ion-col>
  </ion-row>

</ion-content>
