<!--
  Feedback Modal Page (Public User)
  --
 Form for user to submit feedback
  --
  Author: Teh Kah Jun
  Created On: 19 April 2018
  Last Modified: 28 June 2018
-->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Rate this project
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="feedbackFormGroup" (ngSubmit)="onSubmitFeedbackForm()">

    <div text-center="" id="rating">
      <rating formControlName="rating"></rating>
    </div>

    <ion-item>
      <ion-label color="primary" floating>Title</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Short feedback</ion-label>
      <ion-textarea rows="5" formControlName="message"></ion-textarea>
    </ion-item>

    <ion-row>
      <ion-col>
        <button ion-button float-right type="submit" [disabled]="!feedbackFormGroup.valid">SUBMIT</button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
