page-feedback-modal {

  #rating{
    pa
    strong{
      font-size: 40px;
    }
    ul {
      padding: 0px;
      margin-bottom: 15px;
      &.rating li {
        padding: 0px 10px 0px 10px !important;
        background: none;
        color: #005ecb;
        ion-icon {
          font-size: 45px;
        }
      }
    }
  }

}
