<!--
  Forgot Password Page (Public User)
  --
 Allow user to reset their password by entering the email (just a mock page)
  --
  Author: Teh Kah Jun
  Created On: 19 April 2018
  Last Modified: 20 June 2018
-->

<ion-header>

  <ion-navbar>
    <ion-title>Reset Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-1 col-sm-3 col-md-4=""></ion-col>

      <ion-col col-10 col-sm-6 col-md-4="" >
        <form [formGroup]="forgotPassFormGroup" (ngSubmit)="onSubmitResetPassForm()" >

          <h3>How to reset your password?</h3>
          <p>1. Submit your email address you used to create the account at the form below.</p>
          <p>2. Check your email inbox, and click the link in the email you received to reset your password.</p>

          <br>
          <ion-item>
            <ion-label color="primary" stacked="">
              <ion-icon name="mail"></ion-icon>&nbsp;&nbsp;E-Mail Address
            </ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>

          <ion-row>
            <ion-col col-12></ion-col>
          </ion-row>

          <button ion-button float-right type="submit" [disabled]="!forgotPassFormGroup.valid">Reset</button>

        </form>
      </ion-col>

      <ion-col col-1 col-sm-3 col-md-4=""></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
