<!--
  Change Password Page (Public User)
  --
 Change User Password by providing their current password and new password
  --
  Author: Teh Kah Jun
  Created On: 19 April 2018
  Last Modified: 28 June 2018
-->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Ticket Description
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item style="color: grey">
    <ion-row>
      Title
    </ion-row>
    <ion-row>
      <ion-note item-end style="color: black">
        {{myComplaintTicket.title}}
      </ion-note>
    </ion-row>
  </ion-item>

  <ion-item style="color: grey">
    <ion-row>
      Description
    </ion-row>
    <ion-row>
      <ion-note item-end text-wrap text-justify style="color: black">
        {{myComplaintTicket.description}}
      </ion-note>
    </ion-row>

  </ion-item>

  <ion-item *ngIf="myComplaintTicket.xCor!=null" style="color: grey">
    Location
    <ion-row>
      <ion-note item-end style="color: black">
        X-Coordinate: {{myComplaintTicket.xCor}}
      </ion-note>
    </ion-row>
    <ion-row>
      <ion-note item-end style="color: black">
        Y-Coordinate: {{myComplaintTicket.yCor}}
      </ion-note>
    </ion-row>

  </ion-item>

  <ion-item *ngIf="myComplaintTicket.address!=null && myComplaintTicket.address!=''" style="color: grey">
    <ion-row>
      Address
    </ion-row>
    <ion-row>
      <ion-note item-end text-wrap text-justify style="color: black">
        {{myComplaintTicket.address}}
      </ion-note>
    </ion-row>

  </ion-item>

  <ion-item style="color: grey">
    Status
    <ion-note item-end style="color: black">
      {{myComplaintTicket.status.name}}
    </ion-note>
  </ion-item>

  <ion-item style="color: grey">
    Reported To
    <ion-note item-end style="color: black">
      {{myComplaintTicket.localAuthority.fullName}}
    </ion-note>
  </ion-item>

  <ion-item style="color: grey">
    Ticket ID
    <ion-note item-end style="color: black">
      {{myComplaintTicket.id}}
    </ion-note>
  </ion-item>

  <ion-item style="color: grey">
    Category
    <ion-note item-end style="color: black">
     {{myComplaintTicket.facilityType.name}}
    </ion-note>
  </ion-item>



  <ion-item style="color: grey">
    <ion-row>
      Photos
    </ion-row>
    <ion-row>
      <ion-thumbnail item-start>
        <img src="{{myComplaintTicket.photoPath1}}" onerror="this.src = 'assets/imgs/no-image.png'">
      </ion-thumbnail>
      <ion-thumbnail item-start>
        <img src="{{myComplaintTicket.photoPath2}}" onerror="this.src = 'assets/imgs/no-image.png'">
      </ion-thumbnail>
      <ion-thumbnail item-start>
        <img src="{{myComplaintTicket.photoPath3}}" onerror="this.src = 'assets/imgs/no-image.png'">
      </ion-thumbnail>
    </ion-row>

  </ion-item>


</ion-content>
