<!--
  Change Password Page (Public User)
  --
 Change User Password by providing their current password and new password
  --
  Author: Teh Kah Jun
  Created On: 19 April 2018
  Last Modified: 28 June 2018
-->


<ion-header>

  <ion-navbar>
    <ion-title>Project Progress</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing...">

    </ion-refresher-content>
  </ion-refresher>

  <ion-item no-lines text-center *ngIf="progressProvider.list.length == 0">No Progress Record</ion-item>

  <ion-card *ngFor="let item of progressProvider.list">

    <ion-card-content>

      <ion-card-title>{{item.title}}</ion-card-title>

      <p>{{item.message}}</p>

      <ion-row>
        <ion-note float-right="">{{item.dateReplied}}</ion-note>
      </ion-row>

    </ion-card-content>

  </ion-card>

</ion-content>
