<!--
  Change Password Page (Public User)
  --
 Change User Password by providing their current password and new password
  --
  Author: Teh Kah Jun
  Created On: 19 April 2018
  Last Modified: 28 June 2018
-->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Submit a Ticket</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <mat-vertical-stepper [linear]="true">

    <mat-step [stepControl]="selectLAGroup" label="Select Local Authority" [completed]="false">

      <form [formGroup]="selectLAGroup">
       <!-- style="font-size: 3vw;"-->
        <ion-list radio-group formControlName="localAuthority" >
          <ion-item *ngFor="let item of laProvider.list, let i = index">
            <ion-label style="font-size: 90%">{{ item.fullName }}</ion-label>
            <ion-radio  checked="{{i==0}}" value="{{item.id}}" ></ion-radio>
          </ion-item>
        </ion-list>

      </form>
      <button ion-button float-right matStepperNext [disabled]="!selectLAGroup.valid">Next</button>
    </mat-step>

    <mat-step [stepControl]="describeTicketGroup" label="Describe Your Ticket" [completed]="false">

      <form [formGroup]="describeTicketGroup">
        <ion-item>
          <ion-label color="primary" stacked>Title</ion-label>
          <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Description</ion-label>
          <ion-textarea type="text" formControlName="description"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Facility Category</ion-label>
          <ion-select formControlName="facilityType" placeholder="Select a type...">
            <ion-option *ngFor="let item of ftProvider.list, let i = index" value="{{item.id}}" selected="{{(i==0).toString()}}">{{item.name}}</ion-option>
          </ion-select>
        </ion-item>
      </form>
      <button ion-button float-right matStepperNext [disabled]="!describeTicketGroup.valid">Next</button>
      <button ion-button float-right matStepperPrevious>Back</button>

    </mat-step>

    <mat-step [stepControl]="getLocationGroup" label="Provide the Location" [completed]="false">
      <form [formGroup]="getLocationGroup">

        <ion-list radio-group [(ngModel)]="content" [ngModelOptions]="{standalone: true}"  >
          <ion-item class="listItems">
            <ion-label  >Current Coordinate</ion-label>
            <ion-radio checked="false" value="current" (click)="gpsCordinateSelected()"></ion-radio>
          </ion-item>

          <ion-list *ngIf="content=='current'">
            <ion-item >
              <ion-label>X-Coordinate</ion-label>
              <ion-input [disabled]="true" value="{{getLocationGroup.controls['xCor'].value}}"></ion-input>

            </ion-item>
            <ion-item>
              <ion-label>Y-Coordinate</ion-label>
              <ion-input [disabled]="true" value="{{getLocationGroup.controls['yCor'].value}}"></ion-input>
            </ion-item>
          </ion-list>

          <ion-item class="listItems">
            <ion-label>Address</ion-label>
            <ion-radio checked="false" value="address" (click)="addressSelected()"></ion-radio>
          </ion-item>
        </ion-list>

        <ion-item *ngIf="content=='address'">
          <ion-textarea type="text" formControlName="address"></ion-textarea>
        </ion-item>

      </form>

      <button ion-button float-right matStepperNext [disabled]="!getLocationGroup.valid">Next</button>
      <button ion-button float-right matStepperPrevious>Back</button>

    </mat-step>

    <mat-step [stepControl]="uploadImageGroup" label="Upload Images" [completed]="false">

      <form [formGroup]="uploadImageGroup">

        <input type="file" accept="image/*" id="firstImgID" hidden (change)="setFileName('firstImgID')">
        <input type="file" accept="image/*" id="secondImgID" hidden (change)="setFileName('secondImgID')">
        <input type="file" accept="image/*" id="thirdImgID" hidden (change)="setFileName('thirdImgID')">

        <ion-list>
          <ion-item>
            <ion-thumbnail item-start>
              <img src="#" id="firstOutput" onerror="this.src = 'assets/imgs/no-image.png'">
            </ion-thumbnail>
            <h2>Photo 1</h2>
            <p>{{uploadImageGroup.controls['firstImgID'].value}}</p>
            <button ion-button item-right (click)="onClickSelectImgButton('first')">Select</button>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-thumbnail item-start>
              <img src="#" id="secondOutput" onerror="this.src = 'assets/imgs/no-image.png'">
            </ion-thumbnail>
            <h2>Photo 2</h2>
            <p>{{uploadImageGroup.controls['secondImgID'].value}}</p>
            <button ion-button item-right (click)="onClickSelectImgButton('second')">Select</button>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-thumbnail item-start>
              <img src="#" id="thirdOutput" onerror="this.src = 'assets/imgs/no-image.png'">
            </ion-thumbnail>
            <h2>Photo 3</h2>
            <p>{{uploadImageGroup.controls['thirdImgID'].value}}</p>
            <button ion-button item-right (click)="onClickSelectImgButton('third')">Select</button>
          </ion-item>
        </ion-list>

      </form>
      <ion-note>***Upload at least one image.</ion-note>

      <ion-item-divider no-lines></ion-item-divider>
      <button ion-button float-right matStepperNext [disabled]="!uploadImageGroup.valid" (click)="onSubmitTicket()">Done</button>
      <button ion-button float-right matStepperPrevious>Back</button>
    </mat-step>

  </mat-vertical-stepper>
</ion-content>
