<!--
  Project Details Page (Public User)
  --
 Project Details for the selected maintenance project record
  --
  Author: Teh Kah Jun
  Created On: 19 April 2018
  Last Modified: 18 June 2018
-->

<ion-header>

  <ion-navbar>
    <ion-title>Project Details</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

    <ion-item style="color: grey">
      <ion-row>
        Project Title
      </ion-row>
      <ion-row>
        <ion-note item-end text-wrap text-justify style="color: black">
          {{myProject.title}}
        </ion-note>
      </ion-row>

    </ion-item>

    <ion-item style="color: grey">
      <ion-row>
        Project Description
      </ion-row>
      <ion-row>
        <ion-note item-end text-wrap text-justify style="color: black">
          {{myProject.description}}
        </ion-note>
      </ion-row>

    </ion-item>

    <ion-item style="color: grey">
      Status
      <ion-note item-end style="color: black">
        {{myProject.status.statusName}}
      </ion-note>
    </ion-item>

    <ion-item style="color: grey">
      Project ID
      <ion-note item-end style="color: black">
        {{myProject.id}}
      </ion-note>
    </ion-item>

    <ion-item style="color: grey">
      Project Start Date
      <ion-note item-end style="color: black">
        {{myProject.startDate}}
      </ion-note>
    </ion-item>

    <ion-item style="color: grey">
      Project End Date
      <ion-note item-end style="color: black">
        {{myProject.endDate}}
      </ion-note>
    </ion-item>

    <ion-item style="color: grey">
      Estimated Budget
      <ion-note item-end style="color: black">
       RM {{myProject.budget}}
      </ion-note>
    </ion-item>

    <ion-item style="color: grey">
      Local Authority
      <ion-note item-end style="color: black">
        {{myProject.localAuthority.acronym}}
      </ion-note>

    </ion-item>

</ion-content>
